<#include "/macro.include"/>
<#assign className = table.className>   
<#assign classNameFirstLower = table.classNameFirstLower>
<#assign module = ""> 
<#if table.module??>
<#assign module = table.module+".">
<#else>
<#assign module = "">
</#if>   
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<#macro mapperEl value>${r"#{"}${value}}</#macro>

<#macro request value>${r"#{"}request.${value}}</#macro>

<#macro criteria value>${r"#{"}criteria.${value}}</#macro>

<#macro namespace>${className}.</#macro>

<!-- 使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="${basepackage}.dao.${className}Mapper">

	<resultMap id="${className}Map" type="${basepackage}.entity.${className}">
        <#list table.columns as column>
        <result property="${column.columnNameLower}" column="${column.sqlName}"/>
		</#list>
	</resultMap>
	
	<sql id="Base_Column_List">
	<#list table.columns as column>
		${column.sqlName} <#if column_has_next>,</#if>
	</#list>
	</sql>
	
	<sql id="Where_Conditions">
	<#list table.columns as column>
		<if test="criteria.${column.columnNameFirstLower}!=null">
			AND ${column.sqlName} = <@criteria column.columnNameFirstLower/>
		</if>
	</#list>
	<#noparse>
		<if test="criteria.limit !=null and criteria.start !=null">
	        limit #{criteria.start},#{criteria.limit}
	    </if>
	</#noparse>
	</sql>
	
	<sql id="Insert_Column_List">
	<#list table.columns as column>
		<#if column.columnNameFirstLower == "uniqueToken" >
		${column.sqlName},
		<#elseif column.columnNameFirstLower == "creator" >
		${column.sqlName},
		<#elseif column.columnNameFirstLower == "gmtCreated" >
		${column.sqlName},
		<#elseif column.columnNameFirstLower == "modifier" >
		${column.sqlName},
		<#elseif column.columnNameFirstLower == "gmtModified">
		${column.sqlName},
		<#elseif column.columnNameFirstLower == "isDeleted">
		${column.sqlName},
		<#else>
		<if test="${column.columnNameFirstLower}!=null">
		${column.sqlName},
		</if>
		</#if>
	</#list>
	</sql>
	
	<select id="selectByCriteria" parameterType="${basepackage}.entity.${className}" resultMap="${className}Map">
      select
      <include refid="Base_Column_List" />
      from ${table.sqlName}
      <include refid="Where_Conditions" />
    </select>

	<select id="selectCountByCriteria" parameterType="${basepackage}.entity.${className}" 
    		resultType="java.lang.Integer">
        select
        count(1)
        from fcp_ons_message
        <include refid="Where_Conditions"/>
    </select>

    <select id="findById" resultMap="${className}Map">
      select
      <include refid="Base_Column_List" />
      from ${table.sqlName}
      where id =<#noparse>#{id}</#noparse>
    </select>	
	
	<insert id="insert" parameterType="${basepackage}.entity.${className}">
      insert into ${table.sqlName}
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Insert_Column_List" />
      </trim>
    </insert>
	
	
	<update id="update" parameterType="${basepackage}.entity.${className}">
		update ${table.sqlName}
		<trim prefix="SET" suffixOverrides=",">
		<#list table.notPkColumns as column>
			<if test="request.${column.columnNameFirstLower}!=null">
			${column.sqlName} = <@request column.columnNameFirstLower/>,
			</if>
		</#list>
		</trim>  
		<include refid="Where_Conditions" />
	</update>

	<update id="delete" parameterType="${basepackage}.entity.${className}">
		update ${table.sqlName} set status = 1 
		<include refid="Where_Conditions" />
	</delete>

	<update id="deleteById">
      update ${table.sqlName} set status = 1 
      where id =<#noparse>#{id}</#noparse>
    </delete>
	
</mapper>

